In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab/NYC-EMS-Response/data/ny_events (1).csv')

In [4]:
# remove data outside NYC 5 B's
nyc = ['Bronx', # Bronx
 'Bronx/New York',
 'Bronx/New York/Queens',
 'Bronx/Queens',
 'New York / Bronx',
'Kings', # Brooklyn
 'Kings County',
 'Kings/New York',
 'Kings/Queens',
 'Kings/Richmond',
 'Brooklyn',
 'New York/Kings',
 'kings',
'Manhattan', # Manhattan
 'New York',
 'New Yrok',
 'New york',
'Queens County', # Queens
 'Queens/Kings/Nassau/Suffok',
 'Queens/New York',
 'New York/Queens',
'Richmond'] # Stat Rats

df = df[df['County'].isin(nyc)]

# drop useless cols
df.drop(columns=[
        'Event Type',
        'Organization Name',
        'Facility Name',
        'Direction',
        'Event Description',
        'Responding Organization Id',
        'State',
        'City'
], inplace=True)

# convert columns to datetime
df['Create Time']= pd.to_datetime(df['Create Time'])
df['Close Time']= pd.to_datetime(df['Close Time'])

# extract day, month, year, hour
df['year']=df['Create Time'].apply(lambda x: x.year)
df['month']=df['Create Time'].apply(lambda x: x.month)
df['day']=df['Create Time'].apply(lambda x: x.day)
df['hour']=df['Create Time'].apply(lambda x: x.hour)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [5]:
df.shape

(170290, 9)

In [6]:
df.head()

      County         Create Time          Close Time  ...  month  day  hour
0      Bronx 2016-02-14 06:05:00 2016-02-14 07:03:00  ...      2   14     6
3   New York 2016-02-14 06:21:00 2016-02-14 13:28:00  ...      2   14     6
13     Bronx 2016-02-14 06:42:00 2016-02-14 07:01:00  ...      2   14     6
14     Bronx 2016-02-14 18:43:00 2016-02-14 18:47:00  ...      2   14    18
15  New York 2016-02-14 06:44:00 2016-02-14 11:23:00  ...      2   14     6

[5 rows x 9 columns]

In [ ]:
#df['Create Time'] = df['Create Time'].dt.tz_localize(tz='EST')

In [ ]:
#df['Create Time'] = df['Create Time'].dt.tz_convert(tz='UTC')

In [ ]:
#df['Create Time'] = df['Create Time'].astype(str)

In [ ]:
#new_time = [i[0:13] for i in df['Create Time']]

In [ ]:
#new_time = [datetime.strptime(i, '%Y-%m-%d %H') for i in new_time]

In [ ]:
#new_time = [i.timestamp() for i in new_time]

In [ ]:
#new_time = [int(i) for i in new_time]

In [ ]:
#df['UTC'] = new_time

In [7]:
new_county = []
for i in df['County']: 
  if i in ['Bronx','Bronx/New York','Bronx/New York/Queens','Bronx/Queens','New York / Bronx']:
    i = 'Bronx'
    new_county.append(i)
  elif i in ['Kings','Kings County','Kings/New York','Kings/Queens','Kings/Richmond','Brooklyn','New York/Kings','kings']:
    i = 'Brooklyn'
    new_county.append(i)
  elif i in ['Manhattan','New York','New Yrok','New york']:
    i = 'Manhattan'
    new_county.append(i)
  elif i in ['Queens County','Queens/Kings/Nassau/Suffok','Queens/New York','New York/Queens']:
    i = 'Queens'
    new_county.append(i)
  elif i in ['Richmond']:
    i = 'Richmond / Staten Island'
    new_county.append(i)
  else:
    print(i)

In [8]:
df['County'] = new_county

In [9]:
df.head()

       County         Create Time          Close Time  ...  month  day  hour
0       Bronx 2016-02-14 06:05:00 2016-02-14 07:03:00  ...      2   14     6
3   Manhattan 2016-02-14 06:21:00 2016-02-14 13:28:00  ...      2   14     6
13      Bronx 2016-02-14 06:42:00 2016-02-14 07:01:00  ...      2   14     6
14      Bronx 2016-02-14 18:43:00 2016-02-14 18:47:00  ...      2   14    18
15  Manhattan 2016-02-14 06:44:00 2016-02-14 11:23:00  ...      2   14     6

[5 rows x 9 columns]

In [10]:
df['Create Time'].min()

Timestamp('2010-01-02 02:51:00')

In [11]:
df['Create Time'].max()

Timestamp('2020-01-01 01:01:00')

In [12]:
df[df['year'] == 2020]

           County         Create Time          Close Time  ...  month  day  hour
30867   Manhattan 2020-01-01 01:01:00 2020-01-01 01:16:00  ...      1    1     1
106370  Manhattan 2020-01-01 01:01:00 2020-01-01 01:16:00  ...      1    1     1
106598  Manhattan 2020-01-01 01:01:00 2020-01-01 01:16:00  ...      1    1     1

[3 rows x 9 columns]

In [13]:
new_df = df.groupby(["year", "month", "day", "hour"]).size().reset_index(name="Incidences")

In [14]:
new_df

       year  month  day  hour  Incidences
0      2010      1    2     2           1
1      2010      1    2     3           1
2      2010      1    3    12           1
3      2010      1    4     1           2
4      2010      1    4    10           2
...     ...    ...  ...   ...         ...
25470  2016      8   23    21           8
25471  2016      8   23    22          11
25472  2016      8   23    23           8
25473  2016      8   24    13           3
25474  2020      1    1     1           3

[25475 rows x 5 columns]

In [15]:
new_df[new_df['year'] == 2020]

       year  month  day  hour  Incidences
25474  2020      1    1     1           3

In [22]:
data = pd.read_csv('/content/drive/MyDrive/Colab/NYC-EMS-Response/data/hourlycounts_weather.csv')

In [23]:
data

       Unnamed: 0  Unnamed: 0.1  year  month  ...  SNWD  TMAX  TMIN  TAVG_CALC
0               0             0  2010      1  ...   0.0  40.0  33.0       36.5
1               1             1  2010      1  ...   0.0  40.0  33.0       36.5
2               2             2  2010      1  ...   0.0  40.0  33.0       36.5
3               3             3  2010      1  ...   0.0  40.0  33.0       36.5
4               4             4  2010      1  ...   0.0  40.0  33.0       36.5
...           ...           ...   ...    ...  ...   ...   ...   ...        ...
87626       87626         87626  2019     12  ...   0.0  45.0  36.0       40.5
87627       87627         87627  2019     12  ...   0.0  45.0  36.0       40.5
87628       87628         87628  2019     12  ...   0.0  45.0  36.0       40.5
87629       87629         87629  2019     12  ...   0.0  45.0  36.0       40.5
87630       87630         87630  2019     12  ...   0.0  45.0  36.0       40.5

[87631 rows x 23 columns]

In [24]:
data = data[(data['year'] <= 2016)]

In [25]:
data = data[(data['year'] >= 2010)]

In [26]:
data

       Unnamed: 0  Unnamed: 0.1  year  month  ...  SNWD  TMAX  TMIN  TAVG_CALC
0               0             0  2010      1  ...   0.0  40.0  33.0       36.5
1               1             1  2010      1  ...   0.0  40.0  33.0       36.5
2               2             2  2010      1  ...   0.0  40.0  33.0       36.5
3               3             3  2010      1  ...   0.0  40.0  33.0       36.5
4               4             4  2010      1  ...   0.0  40.0  33.0       36.5
...           ...           ...   ...    ...  ...   ...   ...   ...        ...
61349       61349         61349  2016     12  ...   0.0  44.0  31.0       37.5
61350       61350         61350  2016     12  ...   0.0  44.0  31.0       37.5
61351       61351         61351  2016     12  ...   0.0  44.0  31.0       37.5
61352       61352         61352  2016     12  ...   0.0  44.0  31.0       37.5
61353       61353         61353  2016     12  ...   0.0  44.0  31.0       37.5

[61354 rows x 23 columns]

In [27]:
data['hour'].min()

0

In [28]:
data['hour'].max()

23

In [30]:
data.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

In [31]:
data

       year  month  day  hour  num_calls  ...  SNOW  SNWD  TMAX  TMIN  TAVG_CALC
0      2010      1    1     1        347  ...   0.0   0.0  40.0  33.0       36.5
1      2010      1    1     2        318  ...   0.0   0.0  40.0  33.0       36.5
2      2010      1    1     3        262  ...   0.0   0.0  40.0  33.0       36.5
3      2010      1    1     4        281  ...   0.0   0.0  40.0  33.0       36.5
4      2010      1    1     5        201  ...   0.0   0.0  40.0  33.0       36.5
...     ...    ...  ...   ...        ...  ...   ...   ...   ...   ...        ...
61349  2016     12   31    20        195  ...   0.0   0.0  44.0  31.0       37.5
61350  2016     12   31    21        192  ...   0.0   0.0  44.0  31.0       37.5
61351  2016     12   31    22        205  ...   0.0   0.0  44.0  31.0       37.5
61352  2016     12   31    23        224  ...   0.0   0.0  44.0  31.0       37.5
61353  2016     12   31    12        198  ...   0.0   0.0  44.0  31.0       37.5

[61354 rows x 21 columns]

In [ ]:
#data.reset_index(inplace=True)

In [ ]:
# boro = []
# for i in range(8835):
#   if data['BOROUGH_BROOKLYN'][i] == 1:
#     boro.append("Brooklyn")
#   elif data['BOROUGH_MANHATTAN'][i] == 1:
#     boro.append("Manhattan")
#   elif data['BOROUGH_QUEENS'][i] == 1:
#     boro.append("Queens")
#   elif data['BOROUGH_RICHMOND / STATEN ISLAND'][i] == 1:
#     boro.append("Richmond / Staten Island")
#   else:
#     boro.append("Bronx")

In [ ]:
#data['Borough'] = boro

In [32]:
calls_weather_tfk = pd.merge(left=data, right=new_df,  how='inner', left_on=['year','month', 'day', 'hour'], right_on=['year','month','day', 'hour'])

In [33]:
calls_weather_tfk

       year  month  day  hour  ...  TMAX  TMIN  TAVG_CALC  Incidences
0      2010      1    2     2  ...  34.0  17.0       25.5           1
1      2010      1    2     3  ...  34.0  17.0       25.5           1
2      2010      1    3    12  ...  22.0  17.0       19.5           1
3      2010      1    4     1  ...  30.0  19.0       24.5           2
4      2010      1    4    10  ...  30.0  19.0       24.5           2
...     ...    ...  ...   ...  ...   ...   ...        ...         ...
25460  2016      8   23    21  ...  82.0  61.0       71.5           8
25461  2016      8   23    22  ...  82.0  61.0       71.5          11
25462  2016      8   23    23  ...  82.0  61.0       71.5           8
25463  2016      8   23    12  ...  82.0  61.0       71.5           8
25464  2016      8   24    13  ...  88.0  68.0       78.0           3

[25465 rows x 22 columns]

In [34]:
calls_weather_tfk['Incidences'].isnull().sum()

0

In [35]:
calls_weather_tfk.to_csv('/content/drive/MyDrive/Colab/NYC-EMS-Response/data/calls_weather_tfk.csv')